@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

$colore: white;

@mixin coloreDinamico($colore) {
  color: $colore;
  @if (lightness($colore) > 50) {
    color: darken($colore, 12);
  } @else {
    color: lighten($colore, 12);
  }
}

body {
  font-family: "Circular";
}

.nomeArtista {
  font-size: 570%;
  font-weight: bolder;
  line-height: 0.9;
}

.heroDiv {
  background-image: url(https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 26em;
  color: $colore;
  @include coloreDinamico($colore);
}

.play {
  font-size: 80px;
}

.secondaParte {
  background-image: linear-gradient(to right bottom, #323232, #272727, #1c1c1c, #111111, #000000);
}

.footerBtn {
  background-color: #000000;
}

.footerBtn:hover {
  background-color: grey;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: white;
  text-decoration: underline;
}
